[submodule "prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9"]
	path = prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
	url = https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
[submodule "prebuilts/gcc/linux-x86/arm/arm-eabi-4.8"]
	path = prebuilts/gcc/linux-x86/arm/arm-eabi-4.8
	url = https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/arm/arm-eabi-4.8
[submodule "prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8"]
	path = prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8
	url = https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8
[submodule "prebuilts/build-tools"]
	path = prebuilts/build-tools
	url = https://android.googlesource.com/platform/prebuilts/build-tools
[submodule "external/dtc"]
	path = external/dtc
	url = https://android.googlesource.com/platform/external/dtc
